.object-storage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;


}

.object-storage-details {

    background-color: #FE413B;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    width: 800px;

    text-align: center;
}

.object-storage-details h2 {
    color: #333;
    margin-bottom: 10px;
}